# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Project specific
backend/__pycache__/
*.zip
yolov8n.pt
yolov8s.pt
!backend/yolov8n.pt
